header {
  background: black;
  border-bottom: 2px solid #ee9400;
  border-top: 2px solid #ee9400;
  height: 72px;
  left: 0;
  padding: 17px 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all .5s;
  z-index: 997;
}

header #logo img {
  margin: 0;
  padding: 0;
}

.icon-bar {
  background-color: white;
}

#nav-menu-container {
  float: right;
  margin: 0;
}

.nav-menu, .nav-menu * {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu ul {
  border: 1px solid #e7e7e7;
  display: none;
  left: 0;
  margin: 4px 0 0 0;
  position: absolute;
  top: 80%;
  z-index: 99;
}

.nav-menu ul li {
  background: #ffffff;
  min-width: 180px;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  color: #333333;
  display: block;
  font-size: 13px;
  padding: 10px;
  text-transform: none;
  transition: .3s;
}

.nav-menu ul li a:hover {
  background: #ee9400;
  color: #ffffff;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
  margin-left: 10px;
}

.nav-menu li:hover > ul {
  display: block;
}

.nav-menu a {
  color: #ffffff;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 0 8px 10px 8px;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-menu > li > a:before {
  background-color: #ee9400;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .3s ease-in-out 0s;
  width: 100%;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  transform: scaleX(1);
}

@media (max-width: 768px) {
  header #logo {
    text-align: center;
  }

  #nav-menu-container {
    float: left;
  }

  #nav-menu-collapse {
    background: #000000;
    bottom: 0;
    padding-top: 20px;
    position: fixed;
    top: 0;
    transition: .4s;
    width: 260px;
    z-index: 998;
  }

  .nav-menu a {
    font-size: 18px;
    padding: 10px 22px 10px 15px;
  }

  .nav-menu ul {
    border: none;
    display: block;
    left: 0;
    margin: 0;
    position: relative;
    top: 80%;
    z-index: 99;
  }

  .nav-menu ul li {
    background: transparent;
  }

  .nav-menu ul li a {
    color: #ffffff;
    display: block;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    padding: 10px 22px 10px 15px;
    outline: none;
    text-decoration: none;
    width: 100%;
  }

  .nav-menu ul li a:hover {
    background-color: transparent;
    color: #ffffff;
  }

  .nav-menu .menu-active > a {
    color: #ee9400;
  }

  .nav-menu > li {
    float: none;
  }

  .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
    visibility: hidden;
  }
}