<header class="header" [class.header-fixed]="fixed">
  <div class="container">
    <div id="logo" class="pull-left">
      <a routerLink="/"><img src="assets/images/logo.png" alt="CoverX" title="CoverX"></a>
    </div>
    <nav role="navigation" id="nav-menu-container">
      <ul class="nav-menu">
        <!-- TODO: Check routerLinkActiveOptions -->
        <li role="presentation"
            routerLinkActive="menu-active"
            [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">Hovedside</a>
        </li>
        <li
          role="presentation"
          routerLinkActive="menu-active">
          <a routerLink="/om-meg">Om meg</a>
        </li>
        <li
          role="presentation"
          routerLinkActive="menu-active">
          <a routerLink="/overtrekker">Overtrekker</a>
          <ul>
            <li
              role="presentation">
              <a routerLink="/musikkovertrekker">Musikkovertrekker</a>
            </li>
          </ul>
        </li>
        <li
          role="presentation"
          routerLinkActive="menu-active">
          <a routerLink="/battilbehor">Båttilbehør</a>
          <ul>
            <li
              role="presentation">
              <a routerLink="/batkalesjer">Båtkalesjer</a>
            </li>
            <li
              role="presentation">
              <a routerLink="/batputer">Båtputer</a>
            </li>
          </ul>
        </li>
        <li
          role="presentation"
          routerLinkActive="menu-active">
          <a routerLink="/vesker">Vesker</a>
          <ul>
            <li
              role="presentation">
              <a routerLink="/rengjoringvesker">Rengjøringvesker</a>
            </li>
            <li
              role="presentation">
              <a routerLink="/mopperveske">Mopperveske</a>
            </li>
            <li
              role="presentation">
              <a routerLink="/musikkvesker">Musikkvesker</a>
            </li>
          </ul>
        </li>
        <li
          role="presentation"
          routerLinkActive="menu-active">
          <a routerLink="/kontakt">Kontakt</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
