<header class="header" [class.header-fixed]="fixed">
  <div class="container">
    <div id="logo" class="pull-left">
      <a href="#"><img src="../../assets/images/logo.png" alt="Coverx" title="CoverX"></a>
    </div>
    <nav role="navigation" id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#">Hovedside</a></li>
        <li><a href="#">Om meg</a></li>
        <li><a href="#">Overtrekker</a></li>
        <li><a href="#">Battilbehor</a>
          <ul>
            <li><a href="#">Båtkalesjer</a></li>
            <li><a href="#">Båtputer</a></li>
          </ul>
        </li>
        <li><a href="#">Vesker</a>
          <ul>
            <li><a href="#">Rengjøringvesker</a></li>
            <li><a href="#">Mopperveske</a></li>
            <li><a href="#">Frokostveske</a></li>
            <li><a href="#">Verktoyveske</a></li>
          </ul>
        </li>
        <li><a href="#">Galeria</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>