<header class="header" [class.header-fixed]="fixed">
  <div class="container">
    <div id="logo" class="pull-left">
      <a routerLink="/"><img src="assets/images/logo.png" alt="CoverX" title="CoverX"></a>
    </div>
    <nav role="navigation" id="nav-menu-container">
      <ul class="nav-menu">
        <!-- Set routerLinkActiveOptions to avoid duplication menu-active class. -->
        <li
          role="presentation"
          routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{exact: true}"
          *ngFor="let route of mainRoutes; let i = index"
        >
          <a routerLink="{{ route.url }}">{{ route.name }}</a>
          <ul *ngIf="i === 2">
            <li
              role="presentation"
              routerLinkActive="menu-active"
              [routerLinkActiveOptions]="{exact: true}"
              *ngFor="let route of subroutesOne;"
            >
              <a routerLink="{{ route.url }}">{{ route.name }}</a>
            </li>
          </ul>
          <ul *ngIf="i === 3">
            <li
              role="presentation"
              routerLinkActive="menu-active"
              [routerLinkActiveOptions]="{exact: true}"
              *ngFor="let route of subroutesTwo;"
            >
              <a routerLink="{{ route.url }}">{{ route.name }}</a>
            </li>
          </ul>
          <ul *ngIf="i === 4">
            <li
              role="presentation"
              routerLinkActive="menu-active"
              [routerLinkActiveOptions]="{exact: true}"
              *ngFor="let route of subroutesThree;"
            >
              <a routerLink="{{ route.url }}">{{ route.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
