<section>
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="cta-title">Oppfordring til handling</h3>
        <p class="cta-text">
          Vi er for deg, vi er eksisterende av deg, vi vil holde deg nær deg. Hvis du har spørsmål,<br>klager, tviler eller bare vil drikke varm te sammen bare bare ta kontakt med oss.
        </p>
      </div>
      <div class="col-md-6 col-md-offset-3 cta-btn-container text-center">
        <a href="#" class="cta-btn align-middle" [scrollTo]="'contact'" [duration]="2800">Oppfordring til handling</a>
      </div>
    </div>
  </div>
</section>