<div class="container wow fadeIn">
  <div class="section-header">
    <h3 class="section-title">Fakta</h3>
    <p class="section-description">Sjekk hva vi gjorde i statistikk</p>
  </div>
  <div class="row counters">
    <div class="col-lg-3 col-6 text-center">
      <span data-toggle="counter-up">239</span>
      <p>Klienter</p>
    </div>
    <div class="col-lg-3 col-6 text-center">
      <span data-toggle="counter-up">1095</span>
      <p>Reparert klær</p>
    </div>
    <div class="col-lg-3 col-6 text-center">
      <span data-toggle="counter-up">3,658</span>
      <p>Brukt timer</p>
    </div>
    <div class="col-lg-3 col-6 text-center">
      <span data-toggle="counter-up">2</span>
      <p>Spesialister</p>
    </div>
  </div>
</div>