<!--<section>-->
  <!--<div class="container wow fadeIn">-->
    <!--<div class="section-header">-->
      <!--<h3 class="section-title">Fakta</h3>-->
      <!--<p class="section-description">Sjekk hva vi gjorde i statistikk</p>-->
    <!--</div>-->
    <!--<div class="row counters">-->
      <!--<div class="col-lg-3 col-6 text-center">-->
        <!--<span counto [step]="20" [countTo]="200" [countFrom]="0" [duration]="4" (countoChange)="clients = $event">{{ clients }}</span>-->
        <!--<p>Klienter</p>-->
      <!--</div>-->
      <!--<div class="col-lg-3 col-6 text-center">-->
        <!--<span counto [step]="40" [countTo]="1500" [countFrom]="0" [duration]="4" (countoChange)="repaired = $event">{{ repaired }}</span>-->
        <!--<p>Reparert klær</p>-->
      <!--</div>-->
      <!--<div class="col-lg-3 col-6 text-center">-->
        <!--<span counto [step]="20" [countTo]="3000" [countFrom]="0" [duration]="4" (countoChange)="spendTime = $event">{{ spendTime }}</span>-->
        <!--<p>Brukt timer</p>-->
      <!--</div>-->
      <!--<div class="col-lg-3 col-6 text-center">-->
        <!--<span counto [step]="1500" [countTo]="2" [countFrom]="0" [duration]="3" (countoChange)="specialists = $event">{{ specialists }}</span>-->
        <!--<p>Spesialister</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->