section {
  background: #ffffff;
  background-size: cover;
  padding: 80px 0 60px 0;
}

img {
  height: 300px;
  margin: 15px auto;
  width: 384px;
}

p {
  color: #999999;
  font-size: 20px;
  line-height: 22px;
}

.section-header {
  margin-bottom: 60px;
}