<section>
  <div class="container wow fadeIn">
    <div class="section-header">
      <h3 class="section-title">{{ title }}</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 wow fadeInUp text-center">
        <p><strong>{{ price }}</strong></p>
      </div>
      <div class="col-xs-12 wow fadeInUp">
        <p>{{ description1 }} <strong>{{ description2 }}</strong></p>
      </div>
    </div>
    <div class="row wow fadeInUp">
      <div gallerize>
        <img class="col-lg-6 col-md-12" src="assets/images/rengjoringvesker1.jpg" src-full="assets/images/rengjoringvesker1.jpg">
        <img class="col-lg-6 col-md-12" src="assets/images/rengjoringvesker2.jpg" src-full="assets/images/rengjoringvesker2.jpg">
        <img class="col-lg-6 col-md-12" src="assets/images/rengjoringvesker3.jpg" src-full="assets/images/rengjoringvesker3.jpg">
        <img class="col-lg-6 col-md-12" src="assets/images/rengjoringvesker4.jpg" src-full="assets/images/rengjoringvesker4.jpg">
        <img class="col-lg-6 col-md-12" src="assets/images/rengjoringvesker5.jpg" src-full="assets/images/rengjoringvesker5.jpg">
        <img class="col-lg-6 col-md-12" src="assets/images/rengjoringvesker6.jpg" src-full="assets/images/rengjoringvesker6.jpg">
      </div>
    </div>
  </div>
</section>