<section id="about">
  <div class="container">
    <div class="row about-container">
      <div class="col-lg-6 background wow fadeInRight"></div>
      <div class="col-lg-6 content">
        <h2 class="title">{{ title }}</h2>
        <div class="icon-box wow fadeInUp">
        <p>{{ description }}</p>
        <ul>
          <li role="presentation" *ngFor="let element of list">{{ element }}</li>
        </ul>
        <strong>{{ bolded }}</strong>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp">
      <div class="col-xs-12">
        <div gallerize>
          <img src="assets/images/om-meg1.jpg" src-full="assets/images/about1.jpg">
          <img src="assets/images/om-meg2.jpg" src-full="assets/images/about2.jpg">
          <img src="assets/images/om-meg3.jpg" src-full="assets/images/about3.jpg">
          <img src="assets/images/om-meg4.jpg" src-full="assets/images/about4.jpg">
        </div>
      </div>
    </div>
  </div>
</section>