<section id="about">
  <div class="container">
    <div class="row about-container">
      <div class="col-lg-6 background wow fadeInRight"></div>
      <div class="col-lg-6 content">
        <h2 class="title">Om meg</h2>
        <div class="icon-box wow fadeInUp">
        <p>
          Jeg har over 20 års erfaring med å sy. Sying er min lidenskap. Jeg spesialiserer meg på tunge materialer som polyester, kalesjestoff, skai, skinn, folie.
          I mitt yrkesarbeid har jeg designet og sydd forskjellige ting, slike som:
        </p>
        <ul>
          <li role="presentation">poser og ryggsekker</li>
          <li role="presentation">poser til verktøy</li>
          <li role="presentation">overtrekk til høyttalere og musikkinstrumenter</li>
          <li role="presentation">trekk til barnevogner</li>
          <li role="presentation">overtrekk til seilfly</li>
          <li role="presentation">overtrekk til spesialisert undervisningsutstyr</li>
          <li role="presentation">båtkalesjer og sofa- og putetrekk</li>
        </ul>
        <strong>Jeg er klar til å designe og sy alt du ønsker deg.</strong>
        </div>
      </div>
    </div>
  </div>
</section>