<section>
  <div class="container">
    <div class="row about-container">
      <div class="col-lg-6 background wow fadeInRight"></div>
      <div class="col-lg-6 content">
        <h2 class="title">Få ord om oss</h2>
        <p>
          Vi er skreddere med tradisjon som begynner fra 2008 basert i Sogndal. Vi nærmer oss hver kunde individuelt prøver å gjøre dem lykkelige hver dag, vi møter dem. Vårt oppdrag er å bidra til å reparere folks klær som de er vant til og holde seg i live.
        </p>
        <div class="icon-box wow fadeInUp">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title"><a href="">Sying</a></h4>
          <p class="description">
            Vi er erfarne skreddere med mange års erfaring som tidligere jobbet for gode merker, nå
            alene
          </p>
        </div>
        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-photo"></i></div>
          <h4 class="title"><a href="">Tilpasset</a></h4>
          <p class="description">
            Vi tilpasser hvert klær til eieren, så sluttresultatet blir målt som i suisse watch
          </p>
        </div>
        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a href="">Livslang</a></h4>
          <p class="description">
            Våre modifikasjoner presser inn i klær nytt liv, som kan brukes av deg i flere tiår i god stand
          </p>
        </div>
      </div>
    </div>
  </div>
</section>