section {
  background: #ffffff;
  padding: 19vh 0;
}

section .about-container .background {
  background: url("../../assets/images/hanna.jpg") center top no-repeat;
  height: 334px;
  margin-bottom: 10px;
}

section .about-container .content {
  background: #ffffff;
}

section .about-container .title {
  color: #333333;
  font-size: 32px;
  font-weight: 700;
}

section .about-container p, section .about-container ul {
  line-height: 24px;
}

section .about-container p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  section .about-container .background {
    height: 300px;
  }

  section .about-container .title {
    padding-top: 15px;
  }
}

img {
  height: 300px;
  margin: 5px;
  text-align: center;
}