<section id="contact">
  <div class="container wow fadeInUp">
    <div class="section-header">
      <h3 class="section-title">Contact</h3>
      <p class="section-description">Non vos have ullus questions? Ne liberum contactus nos!</p>
    </div>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-md-offset-2">
        <div class="info">
          <div>
            <i class="fa fa-map-marker"></i>
            <p>Høgisvegen 44,<br>6873 Marifjøra</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p>kontakt@coverx.no</p>
          </div>
          <div>
            <i class="fa fa-phone"></i>
            <p>+47 47 74 26 48</p>
          </div>
        </div>
        <div class="social-links">
          <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-lg-5 col-md-8">
        <div class="form">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" role="form" class="contactForm">
            <div formGroupName="userData">
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  formControlName="name"
                  placeholder="Navnet ditt"
                >
                <span
                  *ngIf="!signupForm.get('userData.name').valid && signupForm.get('userData.name').touched"
                  class="help-block">Skriv navnet ditt</span>
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  formControlName="email"
                  placeholder="Din epost">
                <span
                  *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
                  class="help-block">Skriv din epost</span>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  formControlName="subject"
                  placeholder="Emne">
                <span
                  *ngIf="!signupForm.get('userData.subject').valid && signupForm.get('userData.subject').touched"
                  class="help-block">Skriv emne</span>
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="message"
                  formControlName="message"
                  rows="5"
                  placeholder="Melding"
                ></textarea>
                <span
                  *ngIf="!signupForm.get('userData.message').valid && signupForm.get('userData.message').touched"
                  class="help-block">Skriv melding</span>
              </div>
              <div class="text-center">
                <button type="submit">Sende melding</button>
                <span
                  *ngIf="!signupForm.valid && signupForm.touched"
                  class="help-block">Vennligst fyll inn gyldige data!</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>