<section id="contact">
  <div class="container wow lightSpeedIn">
    <div class="section-header">
      <h3 class="section-title">{{ title }}</h3>
    </div>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <div class="container wow lightSpeedIn">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-md-offset-2">
        <div class="info">
          <div>
            <i class="fa fa-map-marker"></i>
            <p>{{ street }},<br>{{ city }}</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p>{{ mail }}</p>
          </div>
          <div>
            <i class="fa fa-phone"></i>
            <p>{{ phone }}</p>
          </div>
          <div>
            <i class="fa fa-address-card-o"></i>
            <p>{{ orgNumber }}</p>
          </div>
        </div>
        <div class="social-links">
          <a href="https://www.facebook.com/CoverX-137645533601958/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
      <div class="col-lg-5 col-md-8">
        <div class="form">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value.userData)" role="form" class="contactForm">
            <div formGroupName="userData">
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  formControlName="name"
                  placeholder="Navnet ditt"
                >
                <span
                  *ngIf="!signupForm.get('userData.name').valid && signupForm.get('userData.name').touched"
                  class="help-block">{{ wrongName }}</span>
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  formControlName="email"
                  placeholder="Din epost">
                <span
                  *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
                  class="help-block">{{ wrongEmail }}</span>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  formControlName="subject"
                  placeholder="Emne">
                <span
                  *ngIf="!signupForm.get('userData.subject').valid && signupForm.get('userData.subject').touched"
                  class="help-block">{{ wrongSubject }}</span>
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="message"
                  formControlName="message"
                  rows="5"
                  placeholder="Melding"
                ></textarea>
                <span
                  *ngIf="!signupForm.get('userData.message').valid && signupForm.get('userData.message').touched"
                  class="help-block">{{ wrongMessage }}</span>
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  [disabled]="!signupForm.valid"
                >
                  {{ sendMessage }}</button>
                <span
                  *ngIf="!signupForm.valid && signupForm.touched"
                  class="help-block">{{ wrongForm }}</span>
                <span
                  *ngIf="signupForm.valid && this.submitted"
                  class="help-block"
                  style="color: green;"
                >{{ sentMessage }}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-autograph></app-autograph>