<section>
  <div class="container wow fadeIn">
    <div class="section-header">
      <h3 class="section-title">{{ title }}</h3>
      <p class="section-description">{{ description }}</p>
    </div>
    <div class="row wow fadeInUp">
      <div gallerize>
        <img class="col-lg-6 col-md-12" src="assets/images/batputer1.jpg" src-full="assets/images/batputer1.jpg">
        <img class="col-lg-6 col-md-12" src="assets/images/batputer2.jpg" src-full="assets/images/batputer2.jpg">
      </div>
    </div>
  </div>
</section>