<div class="container wow fadeInUp">
  <div class="section-header">
    <h3 class="section-title">Galleri</h3>
    <p class="section-description">Under finner du kanskje et galleri av vårt arbeid</p>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul id="gallery-filters">
        <li data-filter=".filer-app, .filter-card, .filter-logo, .filter-web" class="filter-active">Alle</li>
        <li data-filter=".filter-app">Kategori 1</li>
        <li data-filter=".filter-card">Kategori 2</li>
        <li data-filter=".filter-logo">Kategori 3</li>
        <li data-filter=".filter-web">Kategori 4</li>
      </ul>
    </div>
  </div>
  <div class="row" id="portfolio-wrapper">
    <div class="col-lg-3 col-md-6 portfolio-item filter-app">
      <a href="">
        <img src="../../assets/images/gallery/app1.jpg" alt="">
        <div class="details">
          <h4>Punkt 1 Kat. 1</h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item filter-web">
      <a href="">
        <img src="../../assets/images/gallery/web2.jpg" alt="">
        <div class="details">
          <h4>Punkt 1 Kat. 4</h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item filter-app">
      <a href="">
        <img src="../../assets/images/gallery/app3.jpg" alt="">
        <div class="details">
          <h4>Punkt 2 Kat. </h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item filter-card">
      <a href="">
        <img src="../../assets/images/gallery/card1.jpg" alt="">
        <div class="details">
          <h4>Punkt 1 Kat. 2</h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item filter-card">
      <a href="">
        <img src="../../assets/images/gallery/card2.jpg" alt="">
        <div class="details">
          <h4>Punkt 2 Kat. 2</h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item filter-web">
      <a href="">
        <img src="../../assets/images/gallery/web3.jpg" alt="">
        <div class="details">
          <h4>Punkt 2 Kat. 4</h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item filter-card">
      <a href="">
        <img src="../../assets/images/gallery/card3.jpg" alt="">
        <div class="details">
          <h4>Punkt 3 Kat. 2</h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item filter-app">
      <a href="">
        <img src="../../assets/images/gallery/app2.jpg" alt="">
        <div class="details">
          <h4>Punkt 3 Kat. 1</h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
      <a href="">
        <img src="../../assets/images/gallery/logo1.jpg" alt="">
        <div class="details">
          <h4>Punkt 1 Kat. 3</h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
      <a href="">
        <img src="../../assets/images/gallery/logo3.jpg" alt="">
        <div class="details">
          <h4>Punkt 2 Kat. 3</h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item filter-web">
      <a href="">
        <img src="../../assets/images/gallery/web1.jpg" alt="">
        <div class="details">
          <h4>Punkt 3 Kat. 4</h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
      <a href="">
        <img src="../../assets/images/gallery/logo2.jpg" alt="">
        <div class="details">
          <h4>Punkt 3 Kat. 3</h4>
          <span>Liten beskrivelse</span>
        </div>
      </a>
    </div>
  </div>
</div>