section {
  background: #f7f7f7;
  padding: 80px 0;
}

section #gallery-wrapper {
  padding-right: 15px;
}

section #gallery-filters {
  list-style: none;
  margin: 0 0 45px 0;
  padding: 0;
  text-align: center;
}

section #gallery-filters li {
  background: #ffffff;
  border-radius: 4px;
  color: #666666;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  margin: 0 10px 5px;
  padding: 10px 22px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

section #gallery-filters li:hover, section #gallery-filters li.filter-active {
  background: #2dc997;
  color: #ffffff;
}

section .gallery-item {
  height: 200px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  transition: all .4s ease;
}

section .gallery-item a {
  display: block;
  margin-right: 15px;
}

section .gallery-item img {
  position: relative;
  top: 0;
  transition: all .6s cubic-bezier(.65, .05, .35, 1);
}

section .gallery-item .details {
  background: #2dc997;
  bottom: -50px;
  height: 50px;
  position: absolute;
  transition: all .3s cubic-bezier(.65, .05, .35, 1);
  width: 100%;
}

section .gallery-item .details h4 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 8px 0 2px 8px;
}

section .gallery-item .details span {
  color: #ffffff;
  display: block;
  font-size: 13px;
  padding-left: 8px;
}

section .gallery-item:hover .details {
  bottom: 0;
}

section .gallery-item:hover img {
  top: -30px;
}