<section>
  <div class="container wow fadeIn">
    <div class="section-header">
      <h3 class="section-title">{{ title }}</h3>
      <p class="section-description">{{ description }}</p>
    </div>
    <div class="row wow fadeInUp">
      <div class="col-xs-12">
        <div gallerize>
          <img class="col-lg-6 col-md-12" src="assets/images/musikkovertrekker1.jpg" src-full="assets/images/musikkovertrekker1.jpg">
          <img class="col-lg-6 col-md-12" src="assets/images/musikkovertrekker2.jpg" src-full="assets/images/musikkovertrekker2.jpg">
          <img class="col-lg-6 col-md-12" src="assets/images/musikkovertrekker3.jpg" src-full="assets/images/musikkovertrekker3.jpg">
          <img class="col-lg-6 col-md-12" src="assets/images/musikkovertrekker4.jpg" src-full="assets/images/musikkovertrekker4.jpg">
          <img class="col-lg-6 col-md-12" src="assets/images/musikkovertrekker5.jpg" src-full="assets/images/musikkovertrekker5.jpg">
          <img class="col-lg-6 col-md-12" src="assets/images/musikkovertrekker6.jpg" src-full="assets/images/musikkovertrekker6.jpg">
          <img class="col-lg-6 col-md-12" src="assets/images/musikkovertrekker7.jpg" src-full="assets/images/musikkovertrekker7.jpg">
          <img class="col-lg-6 col-md-12" src="assets/images/musikkovertrekker8.jpg" src-full="assets/images/musikkovertrekker8.jpg">
          <img class="col-lg-6 col-md-12" src="assets/images/musikkovertrekker9.jpg" src-full="assets/images/musikkovertrekker9.jpg">
        </div>
      </div>
    </div>
  </div>
</section>