<section>
  <div class="container">
    <div class="section-header wow flipInX">
      <h3 class="section-title">{{ title }}</h3>
      <p class="section-description"><strong>{{ price }}</strong></p>
      <p class="section-description">{{ description }}</p>
    </div>
    <div class="row">
      <div gallerize>
        <div class="col-lg-4 col-md-6 wow pulse" *ngFor="let image of images">
          <img class="img-responsive center-block" src="{{ image }}">
        </div>
      </div>
    </div>
  </div>
</section>