@import "../node_modules/npm-font-open-sans/open-sans.css";
@import "../node_modules/typeface-poppins/index.css";

body {
  background: #ffffff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #ee9400;
}

a:hover, a:active, a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #ffffff;
}

.section-header .section-title {
  color: #111111;
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.section-header .section-description {
  color: #999999;
  text-align: center;
  padding-bottom: 20px;
}

.btn-custom {
  border: 2px solid #ee9400;
  border-radius: 50px;
  color: #ee9400;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 28px;
  text-transform: uppercase;
  transition: .5s;
}

.btn-custom:hover {
  background: #aa5100;
  border: 2px solid #aa5100;
}

/* Images in galleries effect. */
.img-gallery {
  opacity: .5;
  transition: all .5s ease;
}

.img-gallery:hover {
  opacity: 1;
}

/* Main category images effect. */
.image-effect {
  overflow: hidden;
  position: relative;
}

.image-effect img {
  height: 100%;
}

.image-effect:hover {
  cursor: pointer;
}

.image-effect .image-first {
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  opacity: 1;
}

.image-effect .image-second {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transform: scale(5);
  transition: all .5s;
  opacity: 0;
}

.image-effect:hover .image-second {
  opacity: 0.5;
  transform: scale(1);
}

.image-effect .image-overlay {
  background: rgba(0, 0, 0, .5);
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: all .5s;
}

.image-effect .image-overlay:hover {
  opacity: 1;
}

/* Angular Image Gallery Lightbox full screen. */
.g-overlay {
  width: 100% !important;
  height: 100% !important;
}
gallery-lightbox {
  height: 100% !important;
  max-width: unset !important;
  max-height: unset !important;
}
gallery {
  height: 100% !important;
  display: flex !important;
}
gallery-main {
  height: 100% !important;
  width: 100% !important;
}
.g-container {
  height: 100% !important;
  width: 100% !important;
}
