<app-header></app-header>
<section>
  <div class="container wow fadeIn">
    <div class="section-header">
      <h3 class="section-title">Verktoyveske</h3>
      <p class="section-description">Under finner du vårt komplette tilbud</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md 6 wow fadeInUp">
        <div class="box">
          <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
          <h4 class="title"><a href="">Tjeneste 1</a></h4>
          <p class="description">
            Prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse...
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md 6 wow fadeInUp">
        <div class="box">
          <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
          <h4 class="title"><a href="">Tjeneste 2</a></h4>
          <p class="description">
            Prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md 6 wow fadeInUp">
        <div class="box">
          <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
          <h4 class="title"><a href="">Tjeneste 3</a></h4>
          <p class="description">
            Prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse...
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md 6 wow fadeInUp">
        <div class="box">
          <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
          <h4 class="title"><a href="">Tjeneste 4</a></h4>
          <p class="description">
            Prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse...
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md 6 wow fadeInUp">
        <div class="box">
          <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
          <h4 class="title"><a href="">Tjeneste 5</a></h4>
          <p class="description">
            Prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse...
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md 6 wow fadeInUp">
        <div class="box">
          <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
          <h4 class="title"><a href="">Tjeneste 6</a></h4>
          <p class="description">
            Prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse... prøve service beskrivelse...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>