<section>
  <div class="container wow fadeIn">
    <div class="section-header">
      <h3 class="section-title">{{ title }}</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 wow fadeInUp text-center">
        <p><strong>{{ price }}</strong></p>
      </div>
      <div class="col-xs-12 wow fadeInUp">
        <p>{{ description1 }} <strong>{{ description2 }}</strong></p>
      </div>
    </div>
    <div class="row wow fadeInUp">
      <img
        class="col-lg-6 col-md-12"
        *ngFor="let image of images"
        src="{{ image }}"
        alt="Mopperveske"
        title="Mopperveske"
      >
    </div>
  </div>
</section>